:root {
    --light-shadow-color: rgba(0, 0, 0, 25%);
    --medium-shadow-color: rgba(0, 0, 0, 50%);

    --omni-color: rgb(64 64 64);
    --tecsus-color: rgb(63 151 217);
    --ctrla-color: rgb(52 64 131);
    --hermez-color: rgb(244 50 74);
    --cicovale-color: rgb(0 48 255);

    --omni-shadow-color: rgb(64 64 64 / 25%);
    --tecsus-shadow-color: rgb(63 151 217 / 25%);
    --ctrla-shadow-color: rgb(52 64 131 / 25%);
    --hermez-shadow-color: rgb(244 50 74 / 25%);
    --cicovale-shadow-color: rgb(0 48 255 / 25%);

    --sidebar-width: 100%;
    --navbar-height: 60px;
}

@media (min-width: 768px) {
    :root {
        --sidebar-width: 280px;
        --navbar-height: 105px;
    }
}

@media (min-width: 1024px) {
    :root {
        --sidebar-width: 392px;
    }
}

@media (min-width: 1280px) {
    :root {
        --sidebar-width: 392px;
        --navbar-height: 70px;
    }
}

@media (min-width: 1920px) {
    :root {
        --sidebar-width: 420px;
        --navbar-height: 80px;
    }
}



* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: black;
}

html,
body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    scroll-behavior: smooth;

    width: 100%;
    max-width: 1920px;
    min-height: 100%;
    margin: auto;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.subir-pagina-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;

    padding: 3px 5px;

    background-color: white;

    box-shadow: 0px 0px 5px var(--light-shadow-color);
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgb(0 1 0 / 25%);
}

.subir-pagina-btn>img {
    width: 24px;
    height: 24px;
}

.subir-pagina-btn:active {
    background-color: var(--light-shadow-color);
}

.mobile-invisible {
    display: none;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 25px;

    margin-left: 0;

    padding: 0px 15px;
    box-shadow: 0px 0px 5px var(--light-shadow-color);
}

footer {
    margin: 0px -15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 100%;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--light-shadow-color);
    border-radius: 5px;

    scroll-margin-top: 50px;
}

.card-titulo {
    font-size: 20px;
    font-weight: bold;
}

.card-subtitulo {
    font-size: 16px;
    font-weight: bold;
}

.card-conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.card-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px var(--light-shadow-color);
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    text-align: justify;
}

.card-descricao {
    font-size: 14px;
    text-align: justify;
}

.card-extra {
    font-size: 12px;
    font-style: italic;
}



@media (min-width: 768px) {
    .conteudo {
        gap: 40px;
        padding: 0px 20px;

        margin-left: calc(var(--sidebar-width) + 20px);
        margin-top: calc(var(--navbar-height) + 20px);
        border-radius: 15px 0 0 0;
        box-shadow: 0px 0px 10px var(--light-shadow-color);
        border-radius: 10px 10px 0px 0px;
    }

    footer {
        margin: 0px -20px;
    }

    .card {
        scroll-margin-top: 150px;
    }

    .card-titulo {
        font-size: 24px;
    }

    .card-subtitulo {
        font-size: 18px;
    }

    .card-descricao {
        font-size: 15px;
    }

    .card-extra {
        font-size: 13px;
    }
}

@media (min-width: 1024px) {
    body {
        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width: 1280px) {
    .desktop-invisible {
        display: none;
    }

    .mobile-invisible {
        display: inline-block;
    }

    .card-conteudo {
        flex-direction: row;
        justify-content: space-between;
    }

    .card-img {
        width: 60%;
    }

    .card-text {
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .conteudo {
        padding: 0px 25px;
        gap: 50px;
    }

    footer {
        margin: 0px -25px;
    }

    .card {
        width: 70%;

        scroll-margin-top: 125px;
    }

    .card-titulo {
        font-size: 28px;
    }

    .card-subtitulo {
        font-size: 20px;
    }

    .card-descricao {
        font-size: 16px;
    }

    .card-extra {
        font-size: 14px;
    }
}