.certificados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.certificados a {
    scroll-margin-top: 100px;
}

.card-img {
    width: 500px;
}