footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    border-radius: 10px 10px 0px 0px;

    margin: 0px -25px;
    padding: 25px 0px;
    box-shadow: 0 -4px 10px var(--light-shadow-color);
}

.footer-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer h3 {
    font-size: 28px;
}

.email-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    border-radius: 10px;

    padding: 5px 5px;
    box-shadow: 0 0px 10px var(--light-shadow-color);
}

.email-link img {
    width: 30px;
    height: 30px;
}