.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 70%;
    padding: 10px;
    margin: auto;
    box-shadow: 0px 0px 10px var(--light-shadow-color);
    border-radius: 5px;
}

.card-titulo {
    font-size: 28px;
    font-weight: bold;
}

.card-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.card-img {
    width: 60%;
    box-shadow: 0px 0px 10px var(--light-shadow-color);
    border-radius: 5px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;
}

.card-descricao {
    font-size: 16px;
    text-align: justify;
}

.card-extra {
    font-size: 14px;
    font-style: italic;
}

img#omni {
    box-shadow: 0px 0px 10px var(--omni-shadow-color);
    font-weight: bold;
}
img#tecsus {
    box-shadow: 0px 0px 10px var(--tecsus-shadow-color);
    font-weight: bold;
}
img#ctrla {
    box-shadow: 0px 0px 10px var(--ctrla-shadow-color);
    font-weight: bold;
}
img#hermez {
    box-shadow: 0px 0px 10px var(--hermez-shadow-color);
    font-weight: bold;
}
img#cicovale {
    box-shadow: 0px 0px 10px var(--cicovale-shadow-color);
    font-weight: bold;
}

span#omni {
    color: var(--omni-color);
    font-weight: bold;
}
span#tecsus {
    color: var(--tecsus-color);
    font-weight: bold;
}
span#ctrla {
    color: var(--ctrla-color);
    font-weight: bold;
}
span#hermez {
    color: var(--hermez-color);
    font-weight: bold;
}
span#cicovale {
    color: var(--cicovale-color);
    font-weight: bold;
}