img#omni {
    box-shadow: 0px 0px 10px var(--omni-shadow-color);
    font-weight: bold;
}
img#tecsus {
    box-shadow: 0px 0px 10px var(--tecsus-shadow-color);
    font-weight: bold;
}
img#ctrla {
    box-shadow: 0px 0px 10px var(--ctrla-shadow-color);
    font-weight: bold;
}
img#hermez {
    box-shadow: 0px 0px 10px var(--hermez-shadow-color);
    font-weight: bold;
}
img#cicovale {
    box-shadow: 0px 0px 10px var(--cicovale-shadow-color);
    font-weight: bold;
}

span#omni {
    color: var(--omni-color);
    font-weight: bold;
}
span#tecsus {
    color: var(--tecsus-color);
    font-weight: bold;
}
span#ctrla {
    color: var(--ctrla-color);
    font-weight: bold;
}
span#hermez {
    color: var(--hermez-color);
    font-weight: bold;
}
span#cicovale {
    color: var(--cicovale-color);
    font-weight: bold;
}